/* FontAwesome and Google Fonts */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800;900&family=Source+Sans+Pro:wght@400;700&display=swap');

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.75;
    -webkit-text-size-adjust: none;
    background: #f4f4f4;
    font-family: 'Source Sans Pro', sans-serif;
    color: #3c3b3b;
}

/* Global Type and Layout */
body, input, select, textarea {
    font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
    color: #3c3b3b;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.9em;
}

p {
    margin-bottom: 1.75em;
}

/* Links */
a {
    color: inherit;
    border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
}

a:hover {
    color: #2ebaae;
    border-bottom-color: transparent;
}

/* Buttons */
button, .button {
    background: transparent;
    border: solid 1px rgba(160, 160, 160, 0.3);
    color: #2ebaae;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover, .button:hover {
    background-color: rgba(46, 186, 174, 0.05);
}

/* Flexbox Layout */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1em;
}

.row > * {
    padding-left: 1em;
}

.align-center {
    justify-content: center;
    align-items: center;
}

/* Forms */
input, select, textarea {
    background: rgba(160, 160, 160, 0.075);
    border: 1px solid rgba(160, 160, 160, 0.3);
    padding: 0.5em;
    width: 100%;
}

input:focus, select:focus, textarea:focus {
    border-color: #2ebaae;
    outline: none;
}

/* Responsive Design */
@media screen and (max-width: 1280px) {
    body, input, select, textarea {
        font-size: 12pt;
    }
}

@media screen and (max-width: 980px) {
    .row {
        flex-direction: column;
    }
}
